*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #6b303a;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 40px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #474747;
  border-radius: 25px;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: #f9320f;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 23em #f9320f;
}

.price{
  font-size: 70px;
  color: #f9320f;
  margin: 20px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.pricing-card li:not(:last-child) {
  margin: auto 75px;
  border-bottom: 1px dashed #f9320f80;
}
.pricing-card:hover li:not(:last-child) {
  position: relative;
  margin: auto 75px;
  border-bottom: 1px dashed #fff;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 50px;
  border: 2px solid #f9320f;
  color: #f9320f;
  padding: 15px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #f9320f;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}